<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%- include('./partials/header'); %>
        <link rel="stylesheet" href="/home.css">
    </head>
    <body>
        <div class='gradient'></div>
        <%- include('./partials/navbar'); %>
        
        <div class="main">
            <h1>Your next job can be a click away</h1>
            <button><a href="/jobs">Browse jobs</a></button>
        </div>
        <script src="/navscript.js"></script>
    </body>
</html>